
.vs/AcoreApplication/v15/.suo
*.ide
*.lock
*.exe
*.ide-wal
*.ide-shm
*.xml
*.lastcodeanalysissucceeded
*.config
*.pdb
*.manifest
*.dll
*.txt
*.mdf
*.ldf
*.cache
*.CopyComplete
*.resources
*.cs
*.lref
*.baml
*.p7s
*.nupkg
*.ps1
